    <%- include("partials/header") -%>
    <main>
        <section class="mission">
            <h2>Our Mission</h2>
            <p>At SkillConnect, we aim to bridge the gap between skilled professionals and clients looking for expertise. Our platform offers a seamless experience for both skill seekers and providers.</p>
        </section>
        <section class="team">
            <h2>Our Team</h2>
            <% team_members.forEach(member => { %>
                <div class="team_member">
                    <img id="member_photo" src="<%= member.profile_picture ? member.profile_picture  : '/images/default_profile_photo.jpg' %>" alt="<%= member.name %>">
                    <h3><%= member.name %></h3>
                    <p><%= member.email %></p>
                </div>
            <% }) %>
        </section>
    </main>
    
    <%- include("partials/footer") -%>
